

/* Google fonts - Open Sans */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
/* colors */
/* body */
body {
  background: rgba(24, 21, 21, 0.836);
  font-family: 'Open Sans', sans-serif;
}

/* links */
.nfl a, .mlb a, .nhl a, .pga a {
  text-decoration: none;
  transition: color 0.2s ease-out;
}

.nfl a {
  color: #4fc0d2;
}

.nfl a:hover {
  color: #268695;
}


/* wrapper */
.manager {
  width: 100%;
  max-width: 1000px;
  margin: auto auto auto auto;
  padding: 0;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  position: relative;
}

/* lists */
.dispatch_row ul {
  margin: 0;
  padding: 0;
}

.dispatch_row ul li {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  list-style: none;
  display: inline-block;
  width: 20%;
  box-sizing: border-box;
  height: 100%
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .dispatch_row ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 479px) {
  .dispatch_row ul li {
    font-size: 13px;
  }
}

.title ul li {
  padding: 15px 13px;
}

.dispatch_row ul li {
  padding: 5px 10px;
}

/* dispatch_rows */
.dispatch_row {
  height: 30px;
  font-size: 0;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-out;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.dispatch_row:hover {
  background-color: rgba(26, 26, 26, 0.9);
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .dispatch_row:hover {
    height: 100%;
  }
}
@media only screen and (max-width: 359px) {
  .dispatch_row:hover {
    height: 100%;
  }
}

.title {
  padding: 25px 0 5px 0;
  height: 100%;
  font-size: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 3px solid rgba(255, 255, 255, 0.1);
}

.title:hover {
 /* height: 45px; */
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 3px solid rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 767px) {
  .title-hide {
    display: none;
  }
}

.nfl {
  border-left: 3px solid #1c616c;
}

.nfl:hover {
  border-left: 3px solid #4fc0d2;
}

.mlb {
  border-left: 3px solid #1d6e4b;
}

.mlb:hover {
  border-left: 3px solid #52d29a;
}

.nhl {
  border-left: 3px solid rgba(157, 121, 25, 0.7);
}

.nhl:hover {
  border-left: 3px solid rgba(231, 196, 104, 0.7);
}

.pga {
  border-left: 3px solid #952f12;
}

.pga:hover {
  border-left: 3px solid #eb7655;
}

/* dispatch_row one - fadeIn */
.dispatch_row-fadeIn-wrapper {
  opacity: 0;
  font-size: 0;
  height: 0;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-out;
  animation: fadeIn 0.4s ease-out 2s 1 alternate;
  animation-fill-mode: forwards;
}

.dispatch_row-fadeIn-wrapper:hover {
  height: 35px;
}
@media only screen and (max-width: 767px) {
  .dispatch_row-fadeIn-wrapper:hover {
    height: 55px;
  }
}
@media only screen and (max-width: 359px) {
  .dispatch_row-fadeIn-wrapper:hover {
    height: 75px;
  }
}

.fadeIn {
  font-size: 0;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.fadeIn:hover {
  background-color: rgba(26, 26, 26, 0.9);
}

/* dispatch_row two - fadeOut */
.dispatch_row-fadeOut-wrapper {
  font-size: 0;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-out;
  animation: fadeOut 0.4s ease-out 8s 1 alternate;
  animation-fill-mode: forwards;
  opacity: 1;
  height: 65px;
}

.dispatch_row-fadeOut-wrapper:hover {
  height: 100px;
}

/* update content */
.update-dispatch_row {
  animation: update 0.5s ease-out 12s 1 alternate;
}

.update1 {
  position: absolute;
  top: 25px;
  display: inline-block;
  opacity: 1;
  animation: update1 1s ease-out 12s 1 alternate;
  animation-fill-mode: forwards;
}

.update2 {
  position: absolute;
  top: 25px;
  display: inline-block;
  opacity: 0;
  animation: update2 4s ease-out 13s 1 alternate;
  animation-fill-mode: forwards;
}

/* more content */
ul.more-content li {
  position: relative;
  font-size: 13px;
  margin: 0;
  padding: 10px 13px;
  display: block;
  height: 50px;
  width: 100%;
  color: rgba(128, 128, 128, 0.9);
}



/* small content */
.small {
  color: rgba(102, 102, 102, 0.9);
  font-size: 10px;
  padding: 0 10px;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .small {
    display: none;
  }
}

/* keyframe animations */
@keyframes fadeIn {
  from {
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    padding: 0;
  }
  to {
    background: rgba(51, 51, 51, 0.1);
    opacity: 1;
    padding: 0 0 65px 0;
  }
}
@keyframes fadeOut {
  from {
    background: rgba(51, 51, 51, 0.1);
    opacity: 1;
    height: 65px;
  }
  to {
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    height: 0;
  }
}
@keyframes update {
  0% {
    background: rgba(51, 51, 51, 0.1);
  }
  50% {
    background: rgba(255, 255, 255, 0.1);
  }
  100% {
    background: rgba(51, 51, 51, 0.1);
  }
}
@keyframes update1 {
  0% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes update2 {
  0% {
    opacity: 0;
    color: rgba(255, 255, 255, 0.9);
  }
  20% {
    opacity: 1;
    color: #52d29a;
  }
  100% {
    opacity: 1;
    color: rgba(255, 255, 255, 0.9);
  }
}

.match_flood, .match_fire {
  display: none;
}

.col-lg-12 {
  padding: 0px!important;
}
.col-md-12 {
  padding: 0px!important;
}
.col-sm-12 {
  padding: 0px!important;
}

.row {
  margin-left: 0px!important;
  margin-right: 0px!important;
}

.navbar {
  cursor: pointer;
}

.main-header {
  text-align: center;
  z-index: 100;
}

.intro-copy {
  text-align: center;
  background-color: rgba(255,255,255,.75);
}

.main-header h1 {
  color: #999999
}

.navbar-text {
  overflow: hidden;
  white-space: nowrap;
  margin:0;
  padding: 0;
}

.nav-inverse-color {
  padding: 5px 0;
  text-align: center;
  display: inline-block;
  width: 100%;
  float: left;
}


@media screen and (max-width: 768px) {
  .col-sm-12 .btn-default {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .dropdown {
    display: inline-block;
    position: relative;
    width: 100%;
  }
  .dropdown-menu {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .dropdown {
    width: 250px;
    display: inline-block;
    position: relative;
  }
}


@media (min-width: 500px) {
  .nav-inverse-color {
    width: 50%;
  }
}

@media (min-width: 730px) {
  .nav-inverse-color {
    width: 50%;
  }
}

@media screen and (max-width : 500px) {
  .service-icon {
    display: none;
  }
}

button#playTTS,
button#stopTTS {
  background-color: #2f76bb; /* steel blue  */)
  border: 0;
  color: white;
}

input[type="radio"], input[type="checkbox"] {
  margin: 1em 1em 1em 0;
  margin-top: 1px \9;
  line-height: normal;
}

.alt-hypothesis {
  margin-top: 2em;
}
.alt-hypothesis > p {
  margin-bottom: 0;
}
.hypothesis {
  color: #5a5a5a; /*gray 60*/
  clear: both;
  float: left;
}

#dropdownMenu1 {
  margin-bottom: 2em;
}

.error-row {
  padding-left: 1em;
  padding-right: 1em;
  display: none;
  background-color: #d74108; /* dark red */
  color: white;
}

.error-row a {
  color: white;
  margin-bottom: 0.2em;
}

.notification-row {
  padding-left: 1em;
  padding-right: 1em;
  display: none;
  border-bottom: 2px solid #ececec; /* light grey/white */
  background-color: #d74108; /* dark red */
  color: black;
}
.notification-row a {
  color: black;
  margin-bottom: 0.2em;
}

#progressIndicator {
  visibility: hidden;
}

progress::-moz-progress-bar { background: #5596E6; } /* light blue */
progress::-webkit-progress-bar { background: #5596E6; } /* light blue */


#metadataTable th {
  padding: 0.5em !important;
}

#metadataTableBody td {
  padding: 0 !important;
}

.alt-hypothesis hr {
  margin-bottom: 0 !important;
}

progress {
  display: none
}

.nav-label {
  color: white;
}

span.nav-label {
  top: 2px;
}

/* numbered bullets solution from: */
/* http://www.456bereastreet.com/archive/201105/styling_ordered_list_numbers/ */
ol {
    counter-reset:li;
    margin-left:0;
    padding-left:0;
    margin-top: 1em;
}
ol > li {
    position:relative;
    margin: 0 0 6px 2em; /* Make room for numbers */
    padding: 4px 8px 4px 12px; /* Add some spacing around the content */
    list-style:none;
    vertical-align: middle;
}

ol > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    left: -2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width: 2em;
    margin-right: 8px;
    padding: 4px;
    color: #fff;
    background: #325c80; /* blue */
    border-radius: 50%;
    /* top: 1em; */
    /* font-weight:bold; */
    text-align:center;
}

li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}

.service-icon {
  width: 90%;
  margin-left:40px;
}
